schema/prices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Simple types -->
    <xs:simpleType name="MonthYYYYMM">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IanaTimezone">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UnitType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Rp/kWh"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CurrencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHF"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IsoDateTimeNoTZ">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PriceRpPerKwh">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0.00"/>
            <xs:maxInclusive value="200.00"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ResolutionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="PT\d+H"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Root -->
    <xs:element name="prices">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="region" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="series" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="price" maxOccurs="unbounded" minOccurs="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="PriceRpPerKwh">
                                                        <xs:attribute name="datetime" type="IsoDateTimeNoTZ" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="resolution" type="ResolutionType" use="required"/>
                                </xs:complexType>

                                <!-- Ensure datetime is unique within each series -->
                                <xs:unique name="uniquePriceDatetimeInSeries">
                                    <xs:selector xpath="price"/>
                                    <xs:field xpath="@datetime"/>
                                </xs:unique>

                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="name" type="xs:string" use="optional"/>
                    </xs:complexType>

                    <!-- Ensure region ids are unique at root level -->
                </xs:element>
            </xs:sequence>

            <xs:attribute name="month" type="MonthYYYYMM" use="required"/>
            <xs:attribute name="timezone" type="IanaTimezone" use="required"/>
            <xs:attribute name="unit" type="UnitType" use="required"/>
            <xs:attribute name="currency" type="CurrencyType" use="required"/>
        </xs:complexType>

        <xs:unique name="uniqueRegionId">
            <xs:selector xpath="region"/>
            <xs:field xpath="@id"/>
        </xs:unique>

    </xs:element>

</xs:schema>
